#maindiv {
    /* margin-left: 25rem;
    margin-top: 5rem;
    margin-right: 20rem; */
    margin: 0 auto;
    /* border: 2px solid black; */
    width: 450px;
    padding: 10px;
}

/* div {
    margin-left: -5rem;
} */

h1 {
    margin-left: 8rem;
    margin-right: auto;
}


#input-box {
    margin-left: 15px;
    font-size: 1.5em;
    width: 90%;
    margin-top: 5px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid blue;
}

#mybtn {
    background-color:rgb(21, 170, 240);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0 0 150px;
    cursor: pointer;
}

.delbtn {
    background-color:rgb(238, 53, 28);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-top: 5px;
    cursor: pointer;
    
}

.para {
    margin-right: 10em;
    text-align: left;
    padding: 0;
    margin: 0;
}

.para {
    display: flex;
    justify-content: space-between;
    
  }